@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Lato:wght@400;700&family=Roboto&display=swap');

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

* { 
    box-sizing: border-box;
    margin: 0;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 42px;
}

#header-title {
    color: rgba(208, 79, 79, 1);
    font-size: 36px;
    font-weight: 700;
}

/* Main */
main {
    margin: 0 8.7%;
}

/* Tri-Section */
#search-section {
    display: flex;
    flex-direction: column;
    margin-top: 17px;
}

#searchbar {
    width: 100%;
    height: 69px;
    border: none;
    border-radius: 5px;
    background-color: rgba(231, 231, 231, 1);
    margin-bottom: 20px;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    color: #ACACAC;
    padding-left: 15px;
    background-image: url(../../assets/search-solid.svg);
    background-size: 32px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 99% 50%;
}

#searchbar:focus-visible {
    outline: 3px solid #ED6454;
}

#searchbar::placeholder {
    opacity: 1;
}

#search-tags {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 14px;
    border-radius: 5px;
    height: 37px;
}

#search-selector {
    margin: 15px 0 25px 0;
    display: flex;
    flex-wrap: wrap;
    
}

.search-box {
    border-radius: 5px;
    display: flex;
    padding: 15px;
    width: fit-content;
    height: fit-content;
    justify-content: space-around;
    flex-direction: column;
    z-index: 1;
}

#box-ing {
    background-color: #3282F7;
    
}

#box-app {
    background-color: #68D9A4;
    margin-left: 20px;
}

#box-ust {
    background-color: #ED6454;
    margin-left: 20px;
}

.search-controls {
    display: flex;
    justify-content: space-between;
}

.input-box {
    background-color: inherit;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    width: 130px;
    color: rgba(255, 255, 255, 1);
    border: none;
    margin-bottom: 3px;
}

.chevron {
    width: 16px;
    height: 28px;
}

/* .list-box {
    z-index: 1;
    margin-top: 10px;
    display: none;
    flex-wrap: wrap;
    padding-left: 0;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-between;
    overflow: auto;
    scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.1);
    scrollbar-width: thin;
    width: 50%;
} */

.list-box {
    z-index: 1;
    margin-top: 10px;
    display: none;
    padding-left: 0;
    border-radius: 5px;
    flex-wrap: wrap;
    overflow: auto;
    max-height: 400px;
    max-width: 667px;
    scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.1);
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

.item-list {
    list-style: none;
    width: 33%;
    padding: 5px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    color: #fff;
}

/* Recipe-section */

#recipes-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
    position: absolute;
    right: 8.7%;
    left: 8.7%;
    top: 35%;
    justify-items: stretch;
}

.notFound {
    margin: auto;
}

.recipeCard {
    max-width: 30%;
    max-height: 364px;
    background-color: rgba(231, 231, 231, 1);
    border-radius: 5px;
    margin-bottom: 50px;
    font-family: "Lato", sans-serif;
}

.recipe-image {
    background-color: rgba(199, 190, 190, 1);
    height: 178px;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.recipe-header {
    display: flex;
    justify-content: space-between;
}

.recipe-title {
    font-size: 18px;
}

.timeZone {
    display: flex;
}

.time-icon {
    width: 20px;
    height: 20px;
    padding-right: 7px;
}

.recipe-infos {
    padding: 15px;
    height: auto;
    max-height: 176px;
}

.recipes-details {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.ing-list {
    font-weight: 700;
    font-size: 12px;
    line-height: 14.4px;
    list-style: none;
    width: 48%;

}

.ing-items {
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.recipe-description {
    width: 48%;
    height: 90px;
    font-size: 11px;
    font-family: "Roboto", sans-serif;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-align: justify;
}
